/* Font Face: Fira Sans */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

footer {
  width: 1600px;
  background: rgb(255, 255, 255);
  padding: 50px 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 1600px;
  height: 100px;
  background: rgb(245, 245, 245);
  margin: 24px 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 24px 160px;
}

main {
  width: 1600px;
  margin: 24px 160px;
  background: rgb(245, 245, 245);
  /* display: flex; */
  padding: 24px 160px;
}

.page-name {
  width: 222px;
  height: 38px;
  font-size: 32px;
  font-weight: 700;
}

.btn-container {
  display: flex;
  /* width: auto; */
}

.btn-container .btn {
  display: inline-block;
  width: 116px;
  height: 52px;
  padding: 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  font-weight: 700;
  color: rgb(0, 106, 80);
  text-align: center;
}

footer hr {
  border: 1px solid rgba(14, 14, 14, 0.1);
  width: 1122px;
  height: 0;
  margin: 32px 0px;
}

.footer-social-media-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 24px;
}

.footer-social-media {
  width: 24px;
  height: 24px;
}

.banner-container {
  width: 1400px; /* 1600px - (2 × 100px padding) */
  height: 560px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding: 80px 100px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
}

.banner-title {
  width: 622px;
  height: 201px;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

.banner-subtitle {
  width: 622px;
  height: 29px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: rgba(14, 14, 14, 0.5);
}

.btn-container .btn-banner {
  display: inline-flex;
  padding: 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: rgb(0, 106, 80);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
}

.banner-image {
  width: 50%;
}
